.main {
    max-width: 1296px;
    width: 100%;
    background: #F9F9F7
}

.wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #474747;

    .info {
        display: flex;
        justify-content: space-between;
        color: #F9F9F7;
        font: 400 16px DM Sans;
        font-family: DM Sans;
        font-style: normal;
        gap: 25px;

        .phone {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 8px;

            .iconPhone {
                background-image: url('./assets/phone.svg');
                background-repeat: no-repeat;
                background-size: contain;
                width: 18px;
                height: 18px;
            }
        }

        .mail {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 8px;

            .iconMail {
                background-image: url('./assets/mail.svg');
                background-repeat: no-repeat;
                background-size: contain;
                width: 18px;
                height: 18px;
            }
        }

    }

    .icon {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 3px;

        .twitter {
            background-image: url('./assets/1.svg');
            background-repeat: no-repeat;
            background-size: contain;
            width: 27px;
            height: 27px;
        }

        .faceBook {
            background-image: url('./assets/2.svg');
            background-repeat: no-repeat;
            background-size: contain;
            width: 27px;
            height: 27px;
        }

        .inst {
            background-image: url('./assets/3.svg');
            background-repeat: no-repeat;
            background-size: contain;
            width: 27px;
            height: 27px;
        }

        .git {
            background-image: url('./assets/4.svg');
            background-repeat: no-repeat;
            background-size: contain;
            width: 27px;
            height: 27px;
        }
    }
}


.white {
    display: flex;
    justify-content: space-around;
    align-items: center;

    .name {
        display: flex;
        justify-content: space-around;
        align-items: center;
        gap: 10px;

        .img {
            background-image: url('./assets/japanese.svg');
            background-repeat: no-repeat;
            background-size: contain;
            width: 56px;
            height: 55px;
        }
    }

    .page {
        display: flex;
        justify-content: space-between;
        gap: 30px;
    }

    .button {
        display: inline-flex;
        padding: 12px 24px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        border-radius: 118px;
        border: 1.5px solid var(--neutral-07, #2C2F24);
    }

}

.white .name h1 {
    font-style: italic;
    font: 600 42.667px Playfair Display;
    color: #474747;
    font-size: 42.667px;
}

.white .page h1 {
    color: var(--neutral-07, #2C2F24);
    font: 500 16px DM Sans;
    font-style: normal;
}